[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imapclient = "*"
logme = "*"
sylk-parser = "*"
apsw = "*"

[dev-packages]
pylint = "*"
pdbpp = "*"

[requires]
python_version = "3.6"
